# K-L MBM Relationships

### Objective:
To explore the predictive capacity that MOAKS bone marrow lesion (MBM) variables at baseline, 12-months, and a change between baseline and 12-months, have on the K-L score (from the K-L drop dataset) at a 12-month time period, 24-month time period, and a change between 12 and 24-months.

### Results:
MBM variables seem slightly predictive of K-L score.

## Baseline MBM Variables Linear Regression with 12-Month K-L Score on Drop Dataset

In [1]:
import pandas as pd
from IPython.display import display
from scripts.mbm.kl_oriented.kl_mbm_relationships import v00_v01_kl_drop_coef_df, v00_v01_kl_drop_results

display(v00_v01_kl_drop_coef_df.sort_values(by='p_value', ascending=True).head(10))
display(pd.DataFrame.from_dict(v00_v01_kl_drop_results, orient='index', columns=['Value']))

Warning: column count mismatch (101 + 255 != 779)

AttributeError: 'int' object has no attribute 'items'

## Baseline MBM Variables Linear Regression with 24-Month K-L Score on Drop Dataset

In [2]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v00_v03_kl_drop_coef_df, v00_v03_kl_drop_results

display(v00_v03_kl_drop_coef_df.sort_values(by='p_value', ascending=True).head(10))
display(pd.DataFrame.from_dict(v00_v03_kl_drop_results, orient='index', columns=['Value']))

       Feature  Coefficient        p_value
0    Intercept     0.792967  1.067750e-180
5   V00MBMPTMC     0.279530   7.251611e-08
21   V00MBMSPL     0.123420   9.344409e-05
4   V00MBMSFMC     0.304253   2.267976e-04
11  V00MBMNFLA     0.199898   3.313782e-04
12  V00MBMPFMP     0.180006   1.395556e-03
15   V00MBMNSS     0.157641   2.904844e-03
3   V00MBMSFLC     0.401643   4.166778e-03
2   V00MBMNTMA     0.465350   2.144379e-02
32   V00MBMPPL    -0.047134   2.358800e-02

              Value
R2         0.463850
RMSE       0.903957
Intercept  0.792967

## 12-Month MBM Variables Linear Regression with 24-Month K-L Score on Drop Dataset

In [3]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v01_v03_kl_drop_coef_df, v01_v03_kl_drop_results

display(v01_v03_kl_drop_coef_df.sort_values(by='p_value', ascending=True).head(10))
display(pd.DataFrame.from_dict(v01_v03_kl_drop_results, orient='index', columns=['Value']))

       Feature  Coefficient        p_value
0    Intercept     0.762738  3.296100e-171
9   V01MBMNFLA     0.233169   6.929011e-07
14  V01MBMPTMC     0.186943   5.823055e-05
12   V01MBMNSS     0.190004   9.304265e-05
19  V01MBMPFMC     0.118115   2.574682e-04
15  V01MBMSFMC     0.186894   7.684767e-04
34   V01MBMPPL    -0.066273   6.813726e-03
23   V01MBMNPL     0.108667   9.533695e-03
24  V01MBMPFMP     0.101549   1.094904e-02
32   V01MBMPPM    -0.069642   1.419569e-02

              Value
R2         0.475754
RMSE       0.893866
Intercept  0.762738

## Baseline MBM Variables Linear Regression with Change in K-L Score on Drop Dataset

In [4]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v00_kl_drop_change_coef_df, v00_kl_drop_change_results

display(v00_kl_drop_change_coef_df.sort_values(by='p_value', ascending=True).head(10))
display(pd.DataFrame.from_dict(v00_kl_drop_change_results, orient='index', columns=['Value']))

       Feature  Coefficient       p_value
6    Intercept     0.108464  2.882730e-17
0   V00MBMNTLC     0.483923  1.892728e-07
27   V00MBMPPL    -0.032312  2.210821e-03
5   V00MBMPTLC    -0.115340  3.623810e-03
13  V00MBMNFLA     0.066578  4.761620e-03
30   V00MBMSPL     0.023481  1.848071e-02
21  V00MBMPFLA    -0.039787  3.374049e-02
31   V00MBMPPM    -0.022977  5.362373e-02
16   V00MBMSSS     0.056837  5.378324e-02
10  V00MBMSTLC    -0.088905  5.383262e-02

              Value
R2        -0.006535
RMSE       0.457285
Intercept  0.108464

## 12-Month MBM Variables Linear Regression with Change in K-L Score on Drop Dataset

In [5]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v01_kl_drop_change_coef_df, v01_kl_drop_change_results

display(v01_kl_drop_change_coef_df.sort_values(by='p_value', ascending=True).head(10))
display(pd.DataFrame.from_dict(v01_kl_drop_change_results, orient='index', columns=['Value']))

       Feature  Coefficient       p_value
7    Intercept     0.093846  6.807484e-14
10   V01MBMSSS     0.084012  1.678078e-04
9   V01MBMPFMP     0.091540  2.054268e-04
13  V01MBMNFLA     0.063911  3.476383e-04
16  V01MBMPFMC     0.051360  1.002591e-03
3   V01MBMSFMP    -0.121583  1.081602e-03
8    V01MBMNSS    -0.093092  1.213178e-03
23   V01MBMPPL    -0.035445  2.976266e-03
22  V01MBMPFLA    -0.035983  1.443694e-02
34   V01MBMPPM    -0.016185  5.267604e-02

              Value
R2         0.030841
RMSE       0.448714
Intercept  0.093846

## Baseline MBM PC1-10 Linear Regression with 12-Month K-L Score on Drop Dataset

In [6]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v00_v01_kl_drop_reduced_coef_df, v00_v01_kl_drop_reduced_results

display(v00_v01_kl_drop_reduced_coef_df.sort_values(by='p_value', ascending=True).head(10))
display(pd.DataFrame.from_dict(v00_v01_kl_drop_reduced_results, orient='index', columns=['Value']))

     Feature  Coefficient       p_value
0  Intercept     1.262253  0.000000e+00
1        PC1     0.283393  0.000000e+00
3        PC2    -0.053688  7.975999e-17
2        PC3     0.059225  8.766943e-15
6        PC4    -0.026411  1.232619e-02
4        PC8     0.036216  2.290836e-02
5       PC10     0.030686  2.355233e-02
7        PC7    -0.026406  2.551411e-02
8        PC5    -0.013805  4.458874e-02
9        PC6    -0.011251  8.895518e-02

              Value
R2         0.483472
RMSE       0.855758
Intercept  1.262253

## Baseline MBM PC1-10 Linear Regression with 24-Month K-L Score on Drop Dataset

In [7]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v00_v03_kl_drop_reduced_coef_df, v00_v03_kl_drop_reduced_results

display(v00_v03_kl_drop_reduced_coef_df.sort_values(by='p_value', ascending=True).head(10))
display(pd.DataFrame.from_dict(v00_v03_kl_drop_reduced_results, orient='index', columns=['Value']))

      Feature  Coefficient       p_value
0   Intercept     1.366416  0.000000e+00
1         PC1     0.278463  0.000000e+00
3         PC2    -0.057892  4.551223e-17
2         PC3     0.063912  2.165760e-15
4         PC7    -0.030110  2.748515e-02
5        PC10     0.028291  3.600393e-02
7         PC5    -0.014105  5.633651e-02
6         PC4    -0.020040  1.039647e-01
10        PC9     0.006442  3.553633e-01
9         PC6    -0.009500  4.602541e-01

              Value
R2         0.450886
RMSE       0.914820
Intercept  1.366416

## 12-Month MBM PC1-10 Linear Regression with 24-Month K-L Score on Drop Dataset

In [8]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v01_v03_kl_drop_reduced_coef_df, v01_v03_kl_drop_reduced_results

display(v01_v03_kl_drop_reduced_coef_df.sort_values(by='p_value', ascending=True).head(10))
display(pd.DataFrame.from_dict(v01_v03_kl_drop_reduced_results, orient='index', columns=['Value']))

     Feature  Coefficient       p_value
0  Intercept     1.362590  0.000000e+00
1        PC1     0.282032  0.000000e+00
3        PC2    -0.055238  7.610835e-15
2        PC3     0.059115  9.484688e-13
4        PC7    -0.027197  1.892331e-02
7        PC6    -0.020950  4.522243e-02
5        PC9     0.021833  4.732920e-02
6       PC10     0.021386  1.610008e-01
8        PC4    -0.010679  4.902492e-01
9        PC5     0.008015  6.216823e-01

              Value
R2         0.453778
RMSE       0.912408
Intercept  1.362590

## Baseline MBM PC1-10 Linear Regression with Change in K-L Score on Drop Dataset

In [9]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v00_kl_drop_reduced_change_coef_df, v00_kl_drop_reduced_change_results

display(v00_kl_drop_reduced_change_coef_df.sort_values(by='p_value', ascending=True).head(10))
display(pd.DataFrame.from_dict(v00_kl_drop_reduced_change_results, orient='index', columns=['Value']))

     Feature  Coefficient       p_value
0  Intercept     0.104163  4.343902e-39
1        PC8    -0.024498  2.322264e-03
8        PC6     0.001751  6.959142e-02
2        PC4     0.006371  1.240048e-01
4        PC3     0.004687  1.856703e-01
3        PC1    -0.004930  2.197958e-01
5        PC2    -0.004204  2.453190e-01
9        PC9     0.001015  5.929270e-01
6        PC7    -0.003703  8.328078e-01
7       PC10    -0.002395  9.391278e-01

              Value
R2        -0.006727
RMSE       0.457328
Intercept  0.104163

## 12-Month MBM PC1-10 Linear Regression with Change in K-L Score on Drop Dataset

In [10]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v01_kl_drop_reduced_change_coef_df,v01_kl_drop_reduced_change_results

display(v01_kl_drop_reduced_change_coef_df.sort_values(by='p_value', ascending=True).head(10))
display(pd.DataFrame.from_dict(v01_kl_drop_reduced_change_results, orient='index', columns=['Value']))

      Feature  Coefficient       p_value
0   Intercept     0.104340  1.954265e-39
1         PC8    -0.025539  2.565255e-04
2         PC9     0.019462  3.807787e-04
5         PC4     0.011910  8.559936e-03
3        PC10    -0.014151  2.167233e-02
4         PC7    -0.012990  2.596461e-02
6         PC6    -0.009759  1.489660e-01
7         PC2    -0.003140  2.829558e-01
9         PC3     0.002754  3.510962e-01
10        PC1     0.001515  6.477447e-01

              Value
R2        -0.002032
RMSE       0.456261
Intercept  0.104340

In [26]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v00_v01_kl_drop_pls_coef_df, v00_v01_kl_drop_pls_results,v00_v01_kl_drop_pls_constructs

display(v00_v01_kl_drop_pls_coef_df.sort_values(by='Coefficient', ascending=False).head(10))
display(pd.DataFrame.from_dict(v00_v01_kl_drop_pls_results, orient='index'))
display(v00_v01_kl_drop_pls_constructs.head(10))

       Feature  Coefficient   Target
0    Intercept     0.720720  V01XRKL
39  V00MBMNTLA     0.295288  V01XRKL
40  V00MBMNTMC     0.221544  V01XRKL
38  V00MBMNTMA     0.204023  V01XRKL
34  V00MBMNFLC     0.200364  V01XRKL
42  V00MBMNTMP     0.195576  V01XRKL
35  V00MBMNFMP     0.145112  V01XRKL
4   V00MBMSFLC     0.143615  V01XRKL
9   V00MBMSTLA     0.141868  V01XRKL
10  V00MBMSTMC     0.141558  V01XRKL

AttributeError: 'int' object has no attribute 'items'

In [17]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v00_v03_kl_drop_pls_coef_df, v00_v03_kl_drop_pls_results,v00_v03_kl_drop_pls_constructs

display(v00_v03_kl_drop_pls_coef_df.sort_values(by='Coefficient', ascending=False).head(10))
display(pd.DataFrame.from_dict(v00_v03_kl_drop_pls_results, orient='index', columns=['Value']))
display(v00_v03_kl_drop_pls_constructs.head(10))

       Feature  Coefficient   Target
0    Intercept     0.829059  V03XRKL
39  V00MBMNTLA     0.251560  V03XRKL
40  V00MBMNTMC     0.218649  V03XRKL
38  V00MBMNTMA     0.203404  V03XRKL
42  V00MBMNTMP     0.193683  V03XRKL
34  V00MBMNFLC     0.191609  V03XRKL
35  V00MBMNFMP     0.142667  V03XRKL
3   V00MBMSFMC     0.138837  V03XRKL
10  V00MBMSTMC     0.138831  V03XRKL
4   V00MBMSFLC     0.134873  V03XRKL

AttributeError: 'int' object has no attribute 'items'

In [34]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v01_v03_kl_drop_pls_coef_df, v01_v03_kl_drop_pls_results, v01_v03_kl_drop_pls_constructs

display(v01_v03_kl_drop_pls_coef_df.sort_values(by='Coefficient', ascending=False).head(10))
display(pd.DataFrame.from_dict(v01_v03_kl_drop_pls_results, orient='index', columns=['Value']))
display(v01_v03_kl_drop_pls_constructs.head(10))

       Feature  Coefficient   Target
0    Intercept     0.811077  V03XRKL
39  V01MBMNTLA     0.284593  V03XRKL
40  V01MBMNTMC     0.209449  V03XRKL
38  V01MBMNTMA     0.201263  V03XRKL
42  V01MBMNTMP     0.181725  V03XRKL
34  V01MBMNFLC     0.172107  V03XRKL
35  V01MBMNFMP     0.146610  V03XRKL
4   V01MBMSFLC     0.138470  V03XRKL
9   V01MBMSTLA     0.135575  V03XRKL
10  V01MBMSTMC     0.127310  V03XRKL

      PLS Component 1
252         -0.340271
1808        -0.840469
1426        -1.712871
964         -1.797761
2602        -1.775634
662         -1.928958
2405        -1.905760
2236        -1.905760
1114         1.078021
744         -1.636013

In [35]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v00_kl_drop_pls_change_coef_df, v00_kl_drop_change_pls_results,v00_kl_drop_change_pls_constructs

display(v00_kl_drop_pls_change_coef_df.sort_values(by='Coefficient', ascending=False).head(10))
display(pd.DataFrame.from_dict(v00_kl_drop_change_pls_results, orient='index', columns=['Value']))
display(v00_kl_drop_change_pls_constructs.head(10))

       Feature  Coefficient  Target
0    Intercept     0.113852  Target
41  V00MBMNTLC     0.034423  Target
1   V00MBMSFMA     0.010247  Target
31  V00MBMNFMA     0.008786  Target
26  V00MBMPTLC     0.005874  Target
32  V00MBMNFLA     0.005392  Target
11  V00MBMSTLC     0.004573  Target
16  V00MBMPFMA     0.003692  Target
44   V00MBMNPM     0.003338  Target
21  V00MBMPFLP     0.002977  Target

      PLS Component 1
252          4.249948
1808         0.116613
1426         1.414945
964          0.251353
2602         1.583023
662          0.251353
2405         0.251353
2236         0.251353
1114         0.132267
744         -0.222388

In [36]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v01_kl_drop_pls_change_coef_df,v01_kl_drop_change_pls_results, v01_kl_drop_change_pls_constructs

display(v01_kl_drop_pls_change_coef_df.sort_values(by='Coefficient', ascending=False).head(10))
display(pd.DataFrame.from_dict(v01_kl_drop_change_pls_results, orient='index', columns=['Value']))
display(v01_kl_drop_change_pls_constructs.head(10))

       Feature  Coefficient  Target
0    Intercept     0.078690  Target
41  V01MBMNTLC     0.072364  Target
11  V01MBMSTLC     0.050135  Target
26  V01MBMPTLC     0.026859  Target
1   V01MBMSFMA     0.017786  Target
33  V01MBMNFMC     0.015487  Target
31  V01MBMNFMA     0.014862  Target
35  V01MBMNFMP     0.013186  Target
20  V01MBMPFMP     0.011707  Target
18  V01MBMPFMC     0.011061  Target

      PLS Component 1
252          3.782914
1808        -0.513619
1426         0.716809
964         -0.822787
2602         0.560041
662         -0.532043
2405        -0.565578
2236        -0.565578
1114         1.200165
744         -1.115046

In [27]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v00_v01_kl_drop_lasso_coef_df, v00_v01_kl_drop_lasso_results

n_nonzero_coefs = (v00_v01_kl_drop_lasso_coef_df['Coefficient'] > 1e-10).sum()
display(v00_v01_kl_drop_lasso_coef_df.sort_values(by='Coefficient', ascending=False).head(n_nonzero_coefs))
display(pd.DataFrame.from_dict(v00_v01_kl_drop_lasso_results, orient='index'))

       Feature   Target  Coefficient
0    Intercept  V01XRKL     1.252714
25  V00MBMPTMC  V01XRKL     0.229320
3   V00MBMSFMC  V01XRKL     0.183604
37   V00MBMNSS  V01XRKL     0.122315
4   V00MBMSFLC  V01XRKL     0.106373
27  V00MBMPTMP  V01XRKL     0.076437
20  V00MBMPFMP  V01XRKL     0.073636
32  V00MBMNFLA  V01XRKL     0.068672
34  V00MBMNFLC  V01XRKL     0.066509
8   V00MBMSTMA  V01XRKL     0.062404
38  V00MBMNTMA  V01XRKL     0.062056
15   V00MBMSPL  V01XRKL     0.060736
17  V00MBMPFLA  V01XRKL     0.054078
10  V00MBMSTMC  V01XRKL     0.052458
40  V00MBMNTMC  V01XRKL     0.045578
24  V00MBMPTLA  V01XRKL     0.042137
43  V00MBMNTLP  V01XRKL     0.039226
11  V00MBMSTLC  V01XRKL     0.033468
45   V00MBMNPL  V01XRKL     0.031989
21  V00MBMPFLP  V01XRKL     0.031420
35  V00MBMNFMP  V01XRKL     0.028542
42  V00MBMNTMP  V01XRKL     0.024313
18  V00MBMPFMC  V01XRKL     0.022295
1   V00MBMSFMA  V01XRKL     0.022214
33  V00MBMNFMC  V01XRKL     0.020517
7    V00MBMSSS  V01XRKL     0.019935
22   V00MBMPSS  V01XRKL     0.013231
31  V00MBMNFMA  V01XRKL     0.009092
13  V00MBMSTLP  V01XRKL     0.003953
36  V00MBMNFLP  V01XRKL     0.002481
14   V00MBMSPM  V01XRKL     0.001969
26  V00MBMPTLC  V01XRKL     0.000527

       V01XRKL
R2    0.498163
RMSE  0.843500

In [28]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v00_v03_kl_drop_lasso_coef_df, v00_v03_kl_drop_lasso_results

n_nonzero_coefs = (v00_v03_kl_drop_lasso_coef_df['Coefficient'] > 1e-10).sum()
display(v00_v03_kl_drop_lasso_coef_df.sort_values(by='Coefficient', ascending=False).head(n_nonzero_coefs))
display(pd.DataFrame.from_dict(v00_v03_kl_drop_lasso_results, orient='index'))

       Feature   Target  Coefficient
0    Intercept  V03XRKL     1.357794
25  V00MBMPTMC  V03XRKL     0.237948
3   V00MBMSFMC  V03XRKL     0.176375
32  V00MBMNFLA  V03XRKL     0.109024
38  V00MBMNTMA  V03XRKL     0.106684
4   V00MBMSFLC  V03XRKL     0.096216
20  V00MBMPFMP  V03XRKL     0.094943
37   V00MBMNSS  V03XRKL     0.090143
27  V00MBMPTMP  V03XRKL     0.062474
41  V00MBMNTLC  V03XRKL     0.060353
34  V00MBMNFLC  V03XRKL     0.058760
7    V00MBMSSS  V03XRKL     0.054928
15   V00MBMSPL  V03XRKL     0.054311
40  V00MBMNTMC  V03XRKL     0.044720
21  V00MBMPFLP  V03XRKL     0.041926
1   V00MBMSFMA  V03XRKL     0.039981
18  V00MBMPFMC  V03XRKL     0.036820
10  V00MBMSTMC  V03XRKL     0.035122
42  V00MBMNTMP  V03XRKL     0.033269
45   V00MBMNPL  V03XRKL     0.033251
33  V00MBMNFMC  V03XRKL     0.015498
24  V00MBMPTLA  V03XRKL     0.014762
43  V00MBMNTLP  V03XRKL     0.012248
17  V00MBMPFLA  V03XRKL     0.010583
8   V00MBMSTMA  V03XRKL     0.010437
13  V00MBMSTLP  V03XRKL     0.010170
22   V00MBMPSS  V03XRKL     0.009640
35  V00MBMNFMP  V03XRKL     0.005936
11  V00MBMSTLC  V03XRKL     0.002527
44   V00MBMNPM  V03XRKL     0.001761

       V03XRKL
R2    0.462279
RMSE  0.905281

In [29]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v01_v03_kl_drop_lasso_coef_df, v01_v03_kl_drop_lasso_results

n_nonzero_coefs = (v01_v03_kl_drop_lasso_coef_df['Coefficient'] > 1e-10).sum()
display(v01_v03_kl_drop_lasso_coef_df.sort_values(by='Coefficient', ascending=False).head(n_nonzero_coefs))
display(pd.DataFrame.from_dict(v01_v03_kl_drop_lasso_results, orient='index'))

       Feature   Target  Coefficient
0    Intercept  V03XRKL     1.357794
25  V01MBMPTMC  V03XRKL     0.167778
32  V01MBMNFLA  V03XRKL     0.126019
37   V01MBMNSS  V03XRKL     0.119651
3   V01MBMSFMC  V03XRKL     0.116806
18  V01MBMPFMC  V03XRKL     0.113142
40  V01MBMNTMC  V03XRKL     0.099819
4   V01MBMSFLC  V03XRKL     0.076060
10  V01MBMSTMC  V03XRKL     0.072614
34  V01MBMNFLC  V03XRKL     0.064344
42  V01MBMNTMP  V03XRKL     0.063558
35  V01MBMNFMP  V03XRKL     0.061551
31  V01MBMNFMA  V03XRKL     0.059807
20  V01MBMPFMP  V03XRKL     0.059299
38  V01MBMNTMA  V03XRKL     0.054673
8   V01MBMSTMA  V03XRKL     0.051563
21  V01MBMPFLP  V03XRKL     0.049511
22   V01MBMPSS  V03XRKL     0.044235
45   V01MBMNPL  V03XRKL     0.040841
11  V01MBMSTLC  V03XRKL     0.036796
41  V01MBMNTLC  V03XRKL     0.035113
28  V01MBMPTLP  V03XRKL     0.026831
9   V01MBMSTLA  V03XRKL     0.025977
27  V01MBMPTMP  V03XRKL     0.023709
15   V01MBMSPL  V03XRKL     0.020596
26  V01MBMPTLC  V03XRKL     0.014138
36  V01MBMNFLP  V03XRKL     0.008952
44   V01MBMNPM  V03XRKL     0.008845
7    V01MBMSSS  V03XRKL     0.003636

       V03XRKL
R2    0.474683
RMSE  0.894778

In [30]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v00_kl_drop_change_lasso_coef_df, v00_kl_drop_change_lasso_results

n_nonzero_coefs = (v00_kl_drop_change_lasso_coef_df['Coefficient'] > 1e-10).sum()
display(v00_kl_drop_change_lasso_coef_df.sort_values(by='Coefficient', ascending=False).head(n_nonzero_coefs))
display(pd.DataFrame.from_dict(v00_kl_drop_change_lasso_results, orient='index'))

       Feature  Target  Coefficient
0    Intercept  Target     0.105080
41  V00MBMNTLC  Target     0.025203
1   V00MBMSFMA  Target     0.003678

        Target
R2   -0.003980
RMSE  0.456704

In [31]:
from scripts.mbm.kl_oriented.kl_mbm_relationships import v01_kl_drop_change_lasso_coef_df, v01_kl_drop_change_lasso_results

n_nonzero_coefs = (v01_kl_drop_change_lasso_coef_df['Coefficient'] > 1e-10).sum()
display(v01_kl_drop_change_lasso_coef_df.sort_values(by='Coefficient', ascending=False).head(n_nonzero_coefs))
display(pd.DataFrame.from_dict(v01_kl_drop_change_lasso_results, orient='index'))

       Feature  Target  Coefficient
0    Intercept  Target     0.105080
41  V01MBMNTLC  Target     0.036770
18  V01MBMPFMC  Target     0.017875
11  V01MBMSTLC  Target     0.007571
20  V01MBMPFMP  Target     0.007522
1   V01MBMSFMA  Target     0.006021
32  V01MBMNFLA  Target     0.001646
16  V01MBMPFMA  Target     0.000967

        Target
R2    0.005739
RMSE  0.454488